%html
  %head
    %title 
      = title
    %link(rel="stylesheet" href="style.css" media="all" type="text/css")
  %body
    = resume

    %ul
      %li
        %a(href="resume.pdf") Download as pdf
      %li
        %a(href="resume.txt") Download as txt
    %a(href="http://github.com")
      %img(style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub")
